{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 100,
    "overrides": [
        {
            "files": ["*.js", "*.ts", "*.jsx", "*.tsx"],
            "options": {
                "semi": true,
                "tabWidth": 2
            }
        }
    ]
}
